



	
	<div id="page-wrapper">
		<div class="inner-content">
		
				<div class="music-left">
					<!--banner-section-->
					<div class="banner-section">
						<div class="banner">
								<div class="callbacks_container">
								<ul class="rslides callbacks callbacks1" id="slider4">
									<%
											i = 0
											@singer.each do |singer|
												if i < 3
									%>
									<li>
										<div class="banner-img">
											<img src="<%=singer.image_big%>" class="img-responsive" alt="">
										</div>
										<div class="banner-info">
											<a class="trend">TRENDING</a>
											<h3><%=singer.name%></h3>

										</div>
									</li>
									<%
												i = i + 1
											end
										end
									%>
								</ul>
							</div>
					
						<div class="clearfix"> </div>
					</div>
				</div>	
			<!--//End-banner-->
				<!--albums-->
				<!-- pop-up-box --> 
						
					
				<!--//End-albums-->
					<!--//discover-view-->
					<div class="clearfix"> </div>
					<div class="albums second">
							<div class="tittle-head">
								<h3 class="tittle">ALBUMS <span class="new">Hot Nhất</span></h3>
								
								<div class="clearfix"> </div>
							</div>

							<%
								@album.each do |al|
							%>
							<%= link_to(browse_path(al.id)) do %>
								<div class="col-md-3 content-grid" style="height: 220px; min-height: 220px;">
									<img src="<%=al.image%>" title="<%=al.name%>">
									<i class="glyphicon glyphicon-play-circle"></i>
									<p class="button play-icon popup-with-zoom-anim" href="#small-dialog"><%=al.name%></p>
								</div>
							<% end %>
								
							<%
								end
							%>	
							
							
							<div class="clearfix"> </div>
						</div>
							<!--//discover-view-->
						</div>
						<!--//music-left-->
						<!--/music-right-->
						<div class="music-right">
							<!--/video-main-->
							<h3 class="tittle">CHỦ ĐỀ <span class="new">New</span></h3>
							<div class="part-cate-kind">
								<ul class="clearfix">
									<%
										if @kind.length < 7
											j = @kind.length
										else
											j = 7
										end
										i = 1
										@kind.each do |kind|
											if i < j
									%>
										<li>
											<a href="/kind/<%=i%>" title="<%=kind.name%>" class="_trackLink" tracking="_frombox=#home_chude_01">
												
												<img src="<%=kind.image%>" class="img-responsive" alt="<%=kind.name%>">
												
											</a>
										</li>
									<%
												i = i + 1
											end
										end
									%>
								</ul>
							</div>
						</div>
						<!-- script for play-list -->
		


	<!-- //script for play-list -->

						<!--//video-main-->
						<!--/app_store-->
					
					<!--body wrapper end-->
	<!-- /w3l-agile -->
				</div>
		<div class="clearfix"></div>	
					<div class="review-slider">
						<div class="tittle-head">
							<h3 class="tittle">NGHỆ SĨ <span class="new"> Hot Nhất</span></h3>
							<div class="clearfix"> </div>
						</div>
						<ul id="flexiselDemo1">

							<%
								i = 0
								while i<8
									i = i + 1
								%>

									<li>
										<img src="<%=@musician.find(i).image%>" alt="<%=@musician.find(i).name%>"/>
										<div class="slide-title"><h4><%=@musician.find(i).name%> </div>
										<div class="date-city">
											<h5><%=@musician.find(i).birthday%></h5>
											<div class="buy-tickets">
												<%= link_to 'READ MORE'.html_safe, artist_path(i) %>
											</div>
										</div>
									</li>
									
								<%
									end
							%>

						</ul>
						
					
					</div>
							</div>
						<div class="clearfix"></div>