<div id="page-wrapper">
<div class="left-artist">
    <div class="card-image" style="background:url('/<%=@singer.image_big%>'); background-size: 100%;"></div>
    <div class="image-artist-detail">
        <img width="150" height="150" src="/<%=@singer.image%>" title="allbum-name">
    </div>
    <div class="name-artist-detail"><%=@singer.name%></div>
    <div class="menu-artist-detail">
        <ul>
            <li id="story-button">Tiểu sử</li>
            <li id="song-button">Bài hát</li>
            <li id="album-button">Album</li>
        </ul>
    </div>
    <div class="detail-left-detail col-md-3">
        <p class="">Tên thật: <span class><%=@singer.name%></span></p>
        <p class="">Ngày sinh: <span class><%=@singer.birthday%></span></p>
        <p class="">Hoạt động: <span class><%=@country.find(@singer.country_id).name%></span></p>
    </div>
    <div id="story" class="detail-right-detail">
        <h2>TIỂU SỬ</h2>
        <p><%=@singer.story%></p>
    </div>
    <div id="songs" class="detail-right-detail">
        <h2>BÀI HÁT</h2>
        <ul>
            <%
                i = 0
                while i < @songs.length
                    i = i + 1
                    if @songs.find(i).artist_id == @singer.id
            %>
                <%= link_to(chart_path(i)) do %>
                    <li><%=@songs.find(i).name%> - <%=@singer.name%></li>
                <% end %>
            <%
                    end
                end 
            %>
            
        </ul>
    </div>
    <div id="albums" class="detail-right-detail">
        <h2>ALBUM</h2>
        <%
            i = 0;
            current = 0;
            while i < @songs.length
                i = i + 1
                if @songs.find(i).artist_id == @singer.id && current < @songs.find(i).album_id
        %>
        <%= link_to(browse_path(i)) do %>
            <div class="albums-artist-detail col-md-3">
                <image width='150' height='150' src="/<%=@albums.find(@songs.find(i).album_id).image%>"/>
                <i class="glyphicon glyphicon-play-circle"></i>	
                <h4><%=@albums.find(@songs.find(i).album_id).name%></h4>
                <h5><%=@singer.name%><h5>
            </div>
        <%end%>
        <%
                    current = current + 1
                end
            end
        %>
    </div>
    <div class="music-browse">
                <!--//////////////////////////////ẢNH ĐẠI DIỆN + NAME/////////////////////////////////-->
        
     <!--//////////////////////////////CÁC BÀI HÁT/////////////////////////////////-->
         
        <!--/////////////////////////////G?I Ý NGHỆ SI KHÁC/////////////////////////////////////-->
        
</div>
    
</div> 
<div class="right-artist">
    <div class="title-right-artist">
        <h3>NGHỆ SĨ TƯƠNG TỰ</h3>
        <ul>
            <%
                i = 0
                j = 0
                while i < @singers.length && j < 6
                    i = i + 1
                    if @singers.find(i).country_id == @singer.country_id && i != @singer.id
            %>
                <%= link_to(artist_path(i)) do %>
                    <li class="artist-add">
                        <img src="/<%=@singers.find(i).image%>"/>
                        <h4><%=@singers.find(i).name%></h4>
                    </li>
                <% end %>
            
            <%
                        j = j + 1
                    end
                end
            %>
        </ul>
    </div>
</div>