

		
<!-- left side end-->
		<!-- app-->

<!--notification menu end -->
<!-- //header-ends -->
<!-- /agileinfo -->
<!-- //header-ends -->
<div id="page-wrapper">
	<div class="inner-content">
			
			<div id="vietnam_albums" class="browse">
					<div class="tittle-head two">
						<h3 class="tittle">V-POP <span class="new">Hot</span></h3>
						<h4  class="tittle third"><button id="seeall_vietnam">+</button></h4>
						<div class="clearfix"> </div>
					</div>
					<%
						i = 0
						j = 0
						while i<@album.length && j < 6
							i = i + 1
							if @album.find(i).country_id == 1
					%>
					<div  class="top_vietnam col-md-3 browse-grid">
						<%= link_to(browse_path(i)) do %>
							<img src="<%=@album.find(i).image%>" title="allbum-name">
						<% end %>
						<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
					</div>
					<%
								j = j + 1
							end
						end
					%>
					<%
						i = 0
						while i<@album.length
							i = i + 1
							if @album.find(i).country_id == 1
					%>
					<div  class="all_vietnam col-md-3 browse-grid">
						<%= link_to(browse_path(i)) do %>
							<img src="<%=@album.find(i).image%>" title="allbum-name">
						<% end %>
						<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
					</div>
					<%
							end
						end
					%>
					
								<div class="clearfix"> </div>
						</div>
		<!--//End-albums-->
		<!--//End-albums-->
			<!--//discover-view-->
				<!--//music-left-->
				</div>
				<div id="hanquoc_albums" class="browse">
					<div class="tittle-head two">
						<h3 class="tittle">K-POP <span class="new">Hot</span></h3>
						<h4  class="tittle third"><button id="seeall_hanquoc">+</button></h4>
						<div class="clearfix"> </div>
					</div>
					<%
						i = 0
						j = 0
						while i<@album.length && j < 6
							i = i + 1
							if @album.find(i).country_id == 2
					%>
					<div class="top_hanquoc col-md-3 browse-grid">
						<%= link_to(browse_path(i)) do %>
							<img src="<%=@album.find(i).image%>" title="allbum-name">
						<% end %>
						<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
					</div>
					<%
								j = j + 1
							end
						end
					%>
					<%
						i = 0
						while i<@album.length
							i = i + 1
							if @album.find(i).country_id == 2
					%>
					<div class="all_hanquoc col-md-3 browse-grid">
						<%= link_to(browse_path(i)) do %>
							<img src="<%=@album.find(i).image%>" title="allbum-name">
						<% end %>
						<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
					</div>
					<%
							end
						end
					%>
				
								<div class="clearfix"> </div>
						</div>
				<div id="aumy_albums" class="browse">
					<div class="tittle-head two">
						<h3 class="tittle">US-UK <span class="new">Hot</span></h3>
						<h4  class="tittle third"><button id="seeall_aumy">+</button></h4>
						<div class="clearfix"> </div>
					</div>
						<%
							i = 0
							j = 0
							while i<@album.length && j < 6
								i = i + 1
								if @album.find(i).country_id == 3
						%>
						<div class="top_aumy col-md-3 browse-grid">
							<%= link_to(browse_path(i)) do %>
								<img src="<%=@album.find(i).image%>" title="allbum-name">
							<% end %>
							<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
						</div>
						<%		
									j = j + 1
								end
							end
						%>
						<%
							i = 0
							while i<@album.length
								i = i + 1
								if @album.find(i).country_id == 3
						%>
						<div class="all_aumy col-md-3 browse-grid">
							<%= link_to(browse_path(i)) do %>
								<img src="<%=@album.find(i).image%>" title="allbum-name">
							<% end %>
							<a class="sing" style="font-size: 15px;" href="single.html"><%=@album.find(i).name%></a>
						</div>
						<%
								end
							end
						%>
						
				
					<div class="clearfix"> </div>
				</div>
		<!--//End-albums-->
		<div class="music-browse">
		<!--albums-->
		<!-- pop-up-box --> 
							
		<!--//pop-up-box -->
			<div id="album-index" class="review-slider">
					<div class="tittle-head">
						<h3 class="tittle">ALBUMS <span class="new"> New</span></h3>
						<div class="clearfix"> </div>
					</div>
						<ul id="flexiselDemo1">
							<%
								i = 0;
								while i < 10
									i = i + 1 
							%>
							<li>
								<%= link_to(browse_path(i)) do %>
									<img src="<%=@album.find(i).image%>" title="allbum-name">
								<% end %>
								<div class="slide-title"><h4><%=@album.find(i).name%></h4></div>
								<div class="date-city">
									<h5><%=@album.find(i).issue%></h5>
								</div>
							</li>
							<%
								end
							%>
						</ul>
			
			</div>
		</div>
		
		<!--//End-albums-->
			<!--//discover-view-->
				<!--//music-left-->
				</div>
				
			<!--body wrapper start-->
					<div class="clearfix"></div>
			<!--body wrapper end-->
<!-- /w3l-agile-info -->
		</div>
	<!--body wrapper end-->
		