<div class="detail-song">
    <div class="detail-left col-md-7">
        <div class="title-song">
            <h1 class="name-song-detail">
                <%=@album.name%>
            </h1>
        </div>
        <div class="info-song">
            <span>Phát Hành: </span>
            <h2 class="inline"><%=@album.issue%></h2>
        </div>
        <div class="info-song">
            <span>Thể Loại: </span>
            <h2 class="inline"><%=@country.find(@album.country_id).name%></h2>
        </div>
        <div class="image-singer-song">
            <img class="rotate360" src="/<%=@artist.image%>" alt="<%=@artist.name%>">
            <div class="song-info-image">
                <h3>Album: <%=@album.name%></h3>
            </div>
        </div>
        <div class="play-song" style="background-image: url('/<%=@artist.image%>');"></div>
        <audio controls autoplay id="audioPlayer" class="audio-song">
            <source src="<%=@song.link%>" type="audio/ogg">
            <source src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="tool-song">
            <ol id="playlist">
                <%
                    i = 0
                    while i < @songs.length
                        i = i + 1
                        if @songs.find(i).album_id == @album.id
                %>
                <li>
                    <a href="<%=@songs.find(i).link%>">
                        <div class="col-md-9">
                            <%=@songs.find(i).name%>
                        </div>
                        <div class="col-md-3">
                            <%=@artists.find(@songs.find(i).artist_id).name%>
                        </div>
                    </a>
                </li>
                <div class="line"></div>
                <%
                        end
                    end
                %>  
            </ol>
        </div>
        <div class="lyric-song">
            <div class="title-lyric">
                Lời bài hát <b><%@song.name%></b>
            </div>
            <div class="content-lyrric">
                <%=@song.lyric%>
            </div>
        </div>
    </div>
    <div class="detail-right col-md-5">
        <div class="title-song">
            <h1 class="name-song">
                 <%
                    i = 0
                    comment_size = 0
                    while i<@comments.length
                        i = i +1;
                        if @comments.find(i).song_id == @song.id
                            comment_size =  comment_size + 1
                        end
                    end
                %>
                BÌNH LUẬN (<%=comment_size%>)
            </h1>
        </div>
        <div class="comment_song">
            <div class="form-comment">
                <form class="form-input-comment">
                    <textarea name="content" cols="30" rows="10"></textarea>
                    <input type="button" value="Bình Luận">
                </form>
            </div>
            <ul>
                <%
                    i = 0
                    while i<@comments.length
                        i = i +1;
                        if @comments.find(i).song_id == @song.id
                %>
                <li>
                    <div class="image-user">
                        <img width="50" height="50" class="zmp3-thumbnail fn-com-user-avatar" src="https://s120.avatar.talk.zdn.vn/b/a/4/6/10/120/0067af61038833ab72461a7f7b40124e.jpg" alt="">
                    </div>
                    <div class="content-comment">
                        <h3><%=@user.find(@comments.find(i).user_id).display_name%></h3>
                        <p><%=@comments.find(i).content%></p>
                    </div>
                    <div class="time-comment">
                        <p><%=@comments.find(i).time%></p>
                    </div>
                </li>
                <%
                        end
                    end
                %>
            </ul>
        </div>
    </div>
</div>