<!DOCTYPE html>
<html>
  <head>
    <title>PLAY NOW</title>
    <meta charset="utf-8">
		
		<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body class="sticky-header left-side-collapsed" >
  
    <section>
      <%= render "layouts/navigation"%>

      <%= yield %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </section>

   </body>
</html>
