<!DOCTYPE html>
<html>
  <head>
    <title>PLAY NOW</title>
    <meta charset="utf-8">
		
		<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body class="sticky-header left-side-collapsed" >
    <section class="content" style="min-height: auto;">
      <% flash.each do |key, value| %>
        <div class="row">
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        </div>
      <% end %>
    </section>
  
    <section>
      <%= render "layouts/navigation"%>

      <%= yield %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </section>

   </body>
</html>
